# Let's Football!

## Data Analysis

In [9]:
import numpy as np
import pandas as pd

import json

import matplotlib.pyplot as plt

from pprint import pprint as pprint

> Pandas **Dataframe** is a _DATA STRUCTURE_ that has a table like format with its rows and columns labeled. It makes it easy to perform arithmetic and string operations on its rows and columns

In [1]:
## Dataset 1: Group table

import pandas as pd

# read the Group stage data stored earlier
# TODO 1: Use pandas read_csv() function to read the saved group stage data as pandas DATAFRAME
# Data is at - data/group_stage_results.csv
# Pointer - https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
df_group_stage = pd.read_csv("data/group_stage_results.csv")

In [2]:
# print the first five rows of the dataframe
df_group_stage.head()

,Position,Team,Played,Won,Drawn,Lost,Goals for,Goals against,Goal difference,Points,Group
0,1,Uruguay,3,3,0,0,5,0,+5,9,A
1,2,Russia(H),3,2,0,1,8,4,+4,6,A
2,3,Saudi Arabia,3,1,0,2,2,7,−5,3,A
3,4,Egypt,3,0,0,3,2,6,−4,0,A
4,1,Spain,3,1,2,0,6,5,+1,5,B

In [ ]:
## Dataset 2: Teams by confederation

# read the Teams by confederation data stored earlier
# TODO 2: Use json libraries load() function to read the saved data as a dictionary
# Data is at - data/teams-by-confederation.json
# Pointer - https://realpython.com/python-json/#a-simple-deserialization-example

with open('data/teams-by-confederation.json', 'r') as fp:
    teams_by_conf = json.load(fp)

In [10]:
pprint(teams_by_conf)

{'AFC': ['Australia', 'Iran', 'Japan', 'Saudi Arabia', 'South Korea'],
 'CAF': ['Egypt', 'Morocco', 'Nigeria', 'Senegal', 'Tunisia'],
 'CONCACAF': ['Costa Rica', 'Mexico', 'Panama'],
 'CONMEBOL': ['Argentina', 'Brazil', 'Colombia', 'Peru', 'Uruguay'],
 'UEFA': ['Belgium',
          'Croatia',
          'Denmark',
          'England',
          'France',
          'Germany',
          'Iceland',
          'Poland',
          'Portugal',
          'Russia',
          'Serbia',
          'Spain',
          'Sweden',
          'Switzerland']}

<p style="font-size:16px;font-family:helvetica">
We'll get a list with data in it as <code>[ ('AFC', 'Australia'), ('AFC', 'Iran'), ('AFC', 'Japan'), ... , ('UEFA', 'Switzerland') ]</code>
</p>

In [74]:
# create a list of tuples (confederation, country)
# Pointer - https://www.geeksforgeeks.org/nested-list-comprehensions-in-python/
# conf_and_country = [(conf, country) for conf in teams_by_conf.keys() for country in teams_by_conf[conf]]
conf_and_country = [(conf, country) for conf, countries in teams_by_conf.items() for country in countries]

conf_and_country

[('AFC', 'Australia'),
 ('AFC', 'Iran'),
 ('AFC', 'Japan'),
 ('AFC', 'Saudi Arabia'),
 ('AFC', 'South Korea'),
 ('CAF', 'Egypt'),
 ('CAF', 'Morocco'),
 ('CAF', 'Nigeria'),
 ('CAF', 'Senegal'),
 ('CAF', 'Tunisia'),
 ('CONCACAF', 'Costa Rica'),
 ('CONCACAF', 'Mexico'),
 ('CONCACAF', 'Panama'),
 ('CONMEBOL', 'Argentina'),
 ('CONMEBOL', 'Brazil'),
 ('CONMEBOL', 'Colombia'),
 ('CONMEBOL', 'Peru'),
 ('CONMEBOL', 'Uruguay'),
 ('UEFA', 'Belgium'),
 ('UEFA', 'Croatia'),
 ('UEFA', 'Denmark'),
 ('UEFA', 'England'),
 ('UEFA', 'France'),
 ('UEFA', 'Germany'),
 ('UEFA', 'Iceland'),
 ('UEFA', 'Poland'),
 ('UEFA', 'Portugal'),
 ('UEFA', 'Russia'),
 ('UEFA', 'Serbia'),
 ('UEFA', 'Spain'),
 ('UEFA', 'Sweden'),
 ('UEFA', 'Switzerland')]

In [75]:
df_conf_and_country = pd.DataFrame(conf_and_country, columns=['Confederation', 'Country'])
df_conf_and_country

   Confederation       Country
0            AFC     Australia
1            AFC          Iran
2            AFC         Japan
3            AFC  Saudi Arabia
4            AFC   South Korea
5            CAF         Egypt
6            CAF       Morocco
7            CAF       Nigeria
8            CAF       Senegal
9            CAF       Tunisia
10      CONCACAF    Costa Rica
11      CONCACAF        Mexico
12      CONCACAF        Panama
13      CONMEBOL     Argentina
14      CONMEBOL        Brazil
15      CONMEBOL      Colombia
16      CONMEBOL          Peru
17      CONMEBOL       Uruguay
18          UEFA       Belgium
19          UEFA       Croatia
20          UEFA       Denmark
21          UEFA       England
22          UEFA        France
23          UEFA       Germany
24          UEFA       Iceland
25          UEFA        Poland
26          UEFA      Portugal
27          UEFA        Russia
28          UEFA        Serbia
29          UEFA         Spain
30          UEFA        Sweden
31          UEFA   Switzerland

In [168]:
# combine both dataframes by country

df_fifa18 = pd.merge(left=df_group_stage, right=df_conf_and_country, left_on='Team', right_on='Country', how='left')
df_fifa18.head()

,Position,Team,Played,Won,Drawn,Lost,Goals for,Goals against,Goal difference,Points,Group,Confederation,Country
0,1,Uruguay,3,3,0,0,5,0,+5,9,A,CONMEBOL,Uruguay
1,2,Russia,3,2,0,1,8,4,+4,6,A,UEFA,Russia
2,3,Saudi Arabia,3,1,0,2,2,7,−5,3,A,AFC,Saudi Arabia
3,4,Egypt,3,0,0,3,2,6,−4,0,A,CAF,Egypt
4,1,Spain,3,1,2,0,6,5,+1,5,B,UEFA,Spain

In [237]:
#TODO: Find out which group your favorite team is in
my_fav_group = df_fifa18[df_fifa18['Team'] == 'England']['Group']
my_fav_group

25    G
Name: Group, dtype: object

> **Note for Italian and Dutch fans:** *You might get an IndexError or an empty Series as a result. Nothing to worry, save it for the 2022 version of this assignment(maybe)*

<p align="center" style="text-align:center">
  <img src="https://drive.google.com/uc?export=view&id=1HLs-N-l2t1GvAsw15IRC7EufbKZmp5pX" alt="Netherlands-fifa-2018" width="720p">
</p>
<p align="center" style="text-align:center"> Source: me.me </p>

In [169]:
df_fifa18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 13 columns):
Position           32 non-null int64
Team               32 non-null object
Played             32 non-null int64
Won                32 non-null int64
Drawn              32 non-null int64
Lost               32 non-null int64
Goals for          32 non-null int64
Goals against      32 non-null int64
Goal difference    32 non-null object
Points             32 non-null object
Group              32 non-null object
Confederation      32 non-null object
Country            32 non-null object
dtypes: int64(7), object(6)
memory usage: 3.5+ KB

In [170]:
# clean Russia :)

# df_group_stage.iloc[1, 1] = 'Russia'
df_group_stage.loc[1, 'Team'] = 'Russia'
# df_group_stage[df_group_stage['Team'] == 'Russia(H)']['Team'] = 'Russia'

In [171]:
df_fifa18 = pd.merge(left=df_group_stage, right=df_conf_and_country, left_on='Team', right_on='Country', how='left')
df_fifa18.head()

,Position,Team,Played,Won,Drawn,Lost,Goals for,Goals against,Goal difference,Points,Group,Confederation,Country
0,1,Uruguay,3,3,0,0,5,0,+5,9,A,CONMEBOL,Uruguay
1,2,Russia,3,2,0,1,8,4,+4,6,A,UEFA,Russia
2,3,Saudi Arabia,3,1,0,2,2,7,−5,3,A,AFC,Saudi Arabia
3,4,Egypt,3,0,0,3,2,6,−4,0,A,CAF,Egypt
4,1,Spain,3,1,2,0,6,5,+1,5,B,UEFA,Spain

In [172]:
df_fifa18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 13 columns):
Position           32 non-null int64
Team               32 non-null object
Played             32 non-null int64
Won                32 non-null int64
Drawn              32 non-null int64
Lost               32 non-null int64
Goals for          32 non-null int64
Goals against      32 non-null int64
Goal difference    32 non-null object
Points             32 non-null object
Group              32 non-null object
Confederation      32 non-null object
Country            32 non-null object
dtypes: int64(7), object(6)
memory usage: 3.5+ KB

In [173]:
# change goal difference and points cols as int

df_fifa18['Goal difference'].astype('int')

ValueError: invalid literal for int() with base 10: '−5'

> So the error is saying that it can't convert **-5** to an integer.

In [174]:
### But, shouldn't '-5' be converted to -5
### Let's check
int('-5')

-5

<img src="https://image.shutterstock.com/image-vector/vector-cartoon-business-man-goes-260nw-345424919.jpg">

In [175]:
## So what's happening?
## Let's check the encoding of the hyphen

hyphen_typed = '-'
print(f"{hyphen_typed} in -5 when typed manually is encoded as {ord(hyphen_typed)}")

hyphen_df = df_fifa18.loc[2, 'Goal difference'][0]
print(f"{hyphen_df} in -5 from df_fifa18 is encoded as {ord(hyphen_df)}")

- in -5 when typed manually is encoded as 45
− in -5 from df_fifa18 is encoded as 8722

More explanation about the above problem [here](https://stackoverflow.com/a/58614410/9734484)

In [176]:
# the unicode value for hyphen_df
hex(ord(hyphen_df))

'0x2212'

In [177]:
### Let's change all the 'minus'es to 'hyphen-minus'es

import re

def replace_hyphen(string):
    modified_string = re.sub(u"\u2212", "-", string)
    return modified_string

                                
df_fifa18['Goal difference'] = df_fifa18['Goal difference'].apply(replace_hyphen)

In [178]:
df_fifa18['Goal difference'] = df_fifa18['Goal difference'].astype('int')

<img src="https://memeshappen.com/media/created/2019/06/YES-.jpg">

In [179]:
# now "int"ify the Points column

df_fifa18 = df_fifa18['Points'].astype('int')

ValueError: invalid literal for int() with base 10: '4[a]'

<img src="http://m.quickmeme.com/img/e0/e0a9a3d82274827346dad8eea5339e6517244be9b44299fd6a5d5da2372e2a96.jpg">

In [180]:
# try printing out the Points column to find what's happening
df_fifa18['Points']

0        9
1        6
2        3
3        0
4        5
5        5
6        4
7        1
8        7
9        5
10       3
11       1
12       9
13       4
14       3
15       1
16       7
17       5
18       3
19       1
20       6
21       6
22       3
23       3
24       9
25       6
26       3
27       0
28       6
29    4[a]
30    4[a]
31       3
Name: Points, dtype: object

> **[a]** denotes that the qualifying team was selected by fair play points due to a tie. 

Seems like fair play turned well for *Japan* but not for us :(

In [181]:
def remove_non_numeric(string):
    modified_string = re.sub("[^0-9]", "", string)
    return modified_string

df_fifa18['Points'] = df_fifa18['Points'].apply(remove_non_numeric)
df_fifa18['Points'] = df_fifa18['Points'].astype('int')

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
Position           32 non-null int64
Team               32 non-null object
Played             32 non-null int64
Won                32 non-null int64
Drawn              32 non-null int64
Lost               32 non-null int64
Goals for          32 non-null int64
Goals against      32 non-null int64
Goal difference    32 non-null object
Points             32 non-null object
Group              32 non-null object
dtypes: int64(7), object(4)
memory usage: 2.9+ KB

If you are wondering why we went through all of this trouble for making these columns of type **object** to their original types,

<p align="center" style="text-align:center">
  <img src="https://drive.google.com/uc?export=view&id=1HQ8HnvGCPJSQEMGgmFBaTEuhV5QuNNHY" alt="CNN" width="720p">
</p>
<!-- <p align="center" style="text-align:center"> Source: The Imitation Game </p> -->

Yes, "Carrots are orange, peas are green, they mustn't touch" 

*I'm kidding, making them integers makes our life easier when doing analysis on those columns*
*like performing mathematical calculations on them*

In [84]:
df_fifa18.describe()

,Position,Played,Won,Drawn,Lost,Goals for,Goals against
count,32.000000,32.0,32.00000,32.000000,32.000000,32.000000,32.000000
mean,2.500000,3.0,1.21875,0.562500,1.218750,3.812500,3.812500
std,1.135924,0.0,0.87009,0.715609,0.941323,2.070336,2.249552
min,1.000000,3.0,0.00000,0.000000,0.000000,2.000000,0.000000
25%,1.750000,3.0,1.00000,0.000000,0.000000,2.000000,2.000000
50%,2.500000,3.0,1.00000,0.000000,1.000000,3.000000,4.000000
75%,3.250000,3.0,2.00000,1.000000,2.000000,5.000000,5.000000
max,4.000000,3.0,3.00000,2.000000,3.000000,9.000000,11.000000

In [166]:
#TODO:
# 1. Average goals scored
# 2. Most games won

In [205]:
df_fifa18.head()

,Position,Team,Played,Won,Drawn,Lost,Goals for,Goals against,Goal difference,Points,Group,Confederation,Country
0,1,Uruguay,3,3,0,0,5,0,5,9,A,CONMEBOL,Uruguay
1,2,Russia,3,2,0,1,8,4,4,6,A,UEFA,Russia
2,3,Saudi Arabia,3,1,0,2,2,7,-5,3,A,AFC,Saudi Arabia
3,4,Egypt,3,0,0,3,2,6,-4,0,A,CAF,Egypt
4,1,Spain,3,1,2,0,6,5,1,5,B,UEFA,Spain

In [215]:
#TODO: Create a df with data of teams that qualified from each group to the Round of 16
#Hint: Select teams with appropriate 'Position' value

df_teams_round_16 = df_fifa18[df_fifa18['Position'].isin([1, 2])]
df_teams_round_16

,Position,Team,Played,Won,Drawn,Lost,Goals for,Goals against,Goal difference,Points,Group,Confederation,Country
0,1,Uruguay,3,3,0,0,5,0,5,9,A,CONMEBOL,Uruguay
1,2,Russia,3,2,0,1,8,4,4,6,A,UEFA,Russia
4,1,Spain,3,1,2,0,6,5,1,5,B,UEFA,Spain
5,2,Portugal,3,1,2,0,5,4,1,5,B,UEFA,Portugal
8,1,France,3,2,1,0,3,1,2,7,C,UEFA,France
9,2,Denmark,3,1,2,0,2,1,1,5,C,UEFA,Denmark
12,1,Croatia,3,3,0,0,7,1,6,9,D,UEFA,Croatia
13,2,Argentina,3,1,1,1,3,5,-2,4,D,CONMEBOL,Argentina
16,1,Brazil,3,2,1,0,5,1,4,7,E,CONMEBOL,Brazil
17,2,Switzerland,3,1,2,0,5,4,1,5,E,UEFA,Switzerland
20,1,Sweden,3,2,0,1,5,2,3,6,F,UEFA,Sweden
21,2,Mexico,3,2,0,1,3,4,-1,6,F,CONCACAF,Mexico
24,1,Belgium,3,3,0,0,9,2,7,9,G,UEFA,Belgium
25,2,England,3,2,0,1,8,3,5,6,G,UEFA,England
28,1,Colombia,3,2,0,1,5,2,3,6,H,CONMEBOL,Colombia
29,2,Japan,3,1,1,1,4,4,0,4,H,AFC,Japan

In [217]:
#TODO: Reset the index of df_teams_round_16
df_teams_round_16_new_index = df_teams_round_16.reset_index()
df_teams_round_16_new_index.head()
#TODO(Optional): Find out how to reset the index w/o assigning to a variable
# df_teams_round_16.reset_index(inplace=True)

,index,Position,Team,Played,Won,Drawn,Lost,Goals for,Goals against,Goal difference,Points,Group,Confederation,Country
0,0,1,Uruguay,3,3,0,0,5,0,5,9,A,CONMEBOL,Uruguay
1,1,2,Russia,3,2,0,1,8,4,4,6,A,UEFA,Russia
2,4,1,Spain,3,1,2,0,6,5,1,5,B,UEFA,Spain
3,5,2,Portugal,3,1,2,0,5,4,1,5,B,UEFA,Portugal
4,8,1,France,3,2,1,0,3,1,2,7,C,UEFA,France

> Oh, Shoot! Seems like 'index' doesn't want to leave

In [220]:
# TODO: Remove the index column
df_teams_round_16_go_back_index = df_teams_round_16_new_index.drop(columns='index')
df_teams_round_16_go_back_index

,Position,Team,Played,Won,Drawn,Lost,Goals for,Goals against,Goal difference,Points,Group,Confederation,Country
0,1,Uruguay,3,3,0,0,5,0,5,9,A,CONMEBOL,Uruguay
1,2,Russia,3,2,0,1,8,4,4,6,A,UEFA,Russia
2,1,Spain,3,1,2,0,6,5,1,5,B,UEFA,Spain
3,2,Portugal,3,1,2,0,5,4,1,5,B,UEFA,Portugal
4,1,France,3,2,1,0,3,1,2,7,C,UEFA,France
5,2,Denmark,3,1,2,0,2,1,1,5,C,UEFA,Denmark
6,1,Croatia,3,3,0,0,7,1,6,9,D,UEFA,Croatia
7,2,Argentina,3,1,1,1,3,5,-2,4,D,CONMEBOL,Argentina
8,1,Brazil,3,2,1,0,5,1,4,7,E,CONMEBOL,Brazil
9,2,Switzerland,3,1,2,0,5,4,1,5,E,UEFA,Switzerland
10,1,Sweden,3,2,0,1,5,2,3,6,F,UEFA,Sweden
11,2,Mexico,3,2,0,1,3,4,-1,6,F,CONCACAF,Mexico
12,1,Belgium,3,3,0,0,9,2,7,9,G,UEFA,Belgium
13,2,England,3,2,0,1,8,3,5,6,G,UEFA,England
14,1,Colombia,3,2,0,1,5,2,3,6,H,CONMEBOL,Colombia
15,2,Japan,3,1,1,1,4,4,0,4,H,AFC,Japan

In [222]:
# TODO: Find the name and points of the team that qualified with the least 'Points'
lucky_team_round_16_index = df_teams_round_16['Points'].idxmin()
lucky_team_round_16_name = df_teams_round_16.iloc[lucky_team_round_16_index][['Team', 'Points']]
lucky_team_round_16_name

#TODO(Optional): You might have found out there is more than one team with the lowest
# qualification points. Write a function to select all those teams rather than only the first one

Team      England
Points          6
Name: 25, dtype: object

In [223]:
# TODO: Find which confederation had the most qualifying teams
df_teams_round_16['Confederation'].value_counts()

UEFA        10
CONMEBOL     4
CONCACAF     1
AFC          1
Name: Confederation, dtype: int64

In [ ]:
# TODO: Display a bar plot with showing the no.of teams in each confederation

In [226]:
# TODO: Find teams that won all the 3 games they played
df_teams_on_a_roll = df_teams_round_16_go_back_index[df_teams_round_16_go_back_index['Won'] == 3]
df_teams_on_a_roll

,Position,Team,Played,Won,Drawn,Lost,Goals for,Goals against,Goal difference,Points,Group,Confederation,Country
0,1,Uruguay,3,3,0,0,5,0,5,9,A,CONMEBOL,Uruguay
6,1,Croatia,3,3,0,0,7,1,6,9,D,UEFA,Croatia
12,1,Belgium,3,3,0,0,9,2,7,9,G,UEFA,Belgium

In [204]:
df_teams_round_16.head()

,index,Position,Team,Played,Won,Drawn,Lost,Goals for,Goals against,Goal difference,Points,Group,Confederation,Country
0,0,1,Uruguay,3,3,0,0,5,0,5,9,A,CONMEBOL,Uruguay
1,1,2,Russia,3,2,0,1,8,4,4,6,A,UEFA,Russia
2,4,1,Spain,3,1,2,0,6,5,1,5,B,UEFA,Spain
3,5,2,Portugal,3,1,2,0,5,4,1,5,B,UEFA,Portugal
4,8,1,France,3,2,1,0,3,1,2,7,C,UEFA,France

In [245]:
# TODO: Find the total goals scored grouped by the team 'Position'
# 1. Group the data rows by appropriate column - 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
# 2. Use a 'sum' aggregation to get the count of goals scored in each group
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html

df_teams_round_16.groupby('Position')['Goals for'].agg('sum')

# TODO(optional): Find out how to do this w/o using df.agg() function

Position
1    45
2    38
Name: Goals for, dtype: int64

In [241]:
# TODO: Create a table with the average and max values of 'Goals for' and 'Points' in each group
df_teams_round_16_go_back_index.groupby('Group')[['Goals for', 'Points']].agg(['mean', 'max'])

# TODO(Optional): Find out how to do this using a Pivot table
# df_teams_round_16_go_back_index.pivot_table(['Goals for', 'Points'], 'Group', aggfunc=['mean', 'max'])

      Goals for     Points
          count max  count max
Group
A             2   8      2   9
B             2   6      2   5
C             2   3      2   7
D             2   7      2   9
E             2   5      2   7
F             2   5      2   6
G             2   9      2   9
H             2   5      2   6

<hr>

For queries,

Nabhan Abdulla P V

nabhu123@gmail.com